# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/components/location-form.tsx
/components/location-list.tsx
/components/route-map.tsx
/components/stats-dashboard.tsx
/components/snowfall.tsx
/components/theme-provider.tsx
/app/page.tsx

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts